<div *ngIf="loginSusces">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-toggleable-md fixed-top">
    <a class="navbar-brand" href="#">Foodsy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="['/profile']" class="nav-link">Hi {{user.display_name}}</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#eat">Eat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#drink">Drink</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#entertain">Entertain</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a [routerLink]="['/admin']" class="nav-link">Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()" href="">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
