<div class="container-fluid">
  <div class="animated fadeIn" *ngIf="checkRole">
    <div class="row">
      <div class="center">
        <div class="col-lg-6" style="max-width: 100%">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Admin manager
            </div>
            <div class="card-body" style="padding:0px">
              <table class="table table-bordered" style="font-size: 10px">
                <thead>
                  <tr>
                    <th>Diskplay name</th>
                    <th>Description</th>
                    <th>address</th>
                    <th>City</th>
                    <th>Phone number</th>
                    <th>Email</th>
                    <th>Price Limit</th>
                    <th>Time Open</th>
                    <th>Time Close</th>
                    <th>Wifi Password</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Status</th>
                    <th>About</th>
                </thead>
                <tbody>
                  <tr *ngFor="let place of places">
                    <td>{{place.display_name}}</td>
                    <td>{{place.description}}</td>
                    <td>{{place.address}}</td>
                    <td>{{place.city}}</td>
                    <td>{{place.phone_number}}</td>
                    <td>{{place.email}}</td>
                    <td>{{place.price_limit}}</td>
                    <td>{{place.time_open}}</td>
                    <td>{{place.time_close}}</td>
                    <td>{{place.wifi_password}}</td>
                    <td>{{place.latitude}}</td>
                    <td>{{place.longitude}}</td>
                    <td>
                      <span class="badge badge-success">{{place.status}}</span>
                    </td>
                    <td><a (click)="loadPlaceById(place.id)" data-toggle="modal" data-target="#exampleModal">Edit</a><br>
                      <a href="#">Delete</a></td>
                  </tr>
                </tbody>
              </table>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row" *ngIf="dataError">
  <div class="col-md-12">
    <div class="error-template">
      <h1>
        Oops!</h1>
      <h2>
        Please register admin using page.</h2>
      <div class="error-details">
        Sorry, an error has occured, Requested page not found!
      </div>
      <div class="error-actions">
        <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a><a href="http://www.fb.com/nhan2768" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade container-fluid" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" style="  margin: 0 auto;" role="document">
    <div class="modal-content">
      <form name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" enctype="multipart/form-data" novalidate>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update places infomation</h5>
          <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <div class="modal-body container">
          <div class="row">
            <div class="col-4">
              <img id="image-preview" width="100%" style="padding-bottom: 10px;" src="https://foodsyapp.herokuapp.com/api/place/photo/{{model.id}}?token={{token}}"
                onerror="this.src='./assets/images/profile-icon-9.png'">
              <!-- image-preview-filename input [CUT FROM HERE]-->
              <div class="input-group image-preview">
                <input type="text" class="form-control image-preview-filename" disabled="disabled">
                <!-- don't give a name === doesn't send on POST/GET -->
                <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span> Clear
                </button>
                <!-- image-preview-input -->
                <div class="btn btn-default image-preview-input">
                  <span class="glyphicon glyphicon-folder-open"></span>
                  <span class="image-preview-input-title">Browse</span>
                  <input type="file" accept="image/png, image/jpeg, image/gif" file-model="myFile" name="input-file-preview" />
                  <!-- rename it -->
                </div>
                </span>
              </div>
              <!-- /input-group image-preview [TO HERE]-->
            </div>
            <div class="col-8">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !display_name.valid }">
                <label for="display_name">Display name</label>
                <input type="text" id="display_name" class="form-control" name="display_name" [(ngModel)]="model.display_name" required #display_name="ngModel"
                  placeholder="Display name" value="model.display_name" />
                <div *ngIf="f.submitted && !display_name.valid" class="help-block">Display name is required </div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
                <label for="description">Description</label>
                <textarea id="description" rows="3" class="form-control" name="description" [(ngModel)]="model.description" #description="ngModel"
                  required placeholder="Description " value="model.description"></textarea>
                <div *ngIf="f.submitted && !description.valid" class="help-block">Description is required</div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
                <label for="address">Address</label>
                <input type="text" id="address" class="form-control" name="address" [(ngModel)]="model.address" #address="ngModel" placeholder="Address"
                  required value="model.address" />
                <div *ngIf="f.submitted && !address.valid" class="help-block">Address name is required </div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !city.valid }">
                <label for="city">City</label>
                <input type="text" id="city" class="form-control" name="city" [(ngModel)]="model.city" #city="ngModel" placeholder="City"
                  required value="model.city" />
                <div *ngIf="f.submitted && !city.valid" class="help-block">City is required</div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone_number.valid }">
                <label for="phone_number">Phone</label>
                <input type="text" id="phone_number" class="form-control" name="phone_number" [(ngModel)]="model.phone_number" #phone_number="ngModel"
                  required placeholder="Display name" value="model.phone_number" />
                <div *ngIf="f.submitted && !phone_number.valid" class="help-block">Phone number is required </div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" placeholder="Email"
                  required value="model.email" />
                <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required </div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !price_limit.valid }">
                <label for="price_limit">Price limit</label>
                <input type="text" id="price_limit" class="form-control" name="price_limit" [(ngModel)]="model.price_limit" #price_limit="ngModel"
                  required placeholder="Price limit" value="model.price_limit" />
                <div *ngIf="f.submitted && !price_limit.valid" class="help-block">Price limit is required </div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !time_open.valid }">
                <label for="time_open">Time open</label>
                <input type="text" id="time_open" class="form-control" name="time_open" [(ngModel)]="model.time_open" #time_open="ngModel"
                  required placeholder="Time open" value="model.time_open" />
                <div *ngIf="f.submitted && !time_open.valid" class="help-block">Time open is required </div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !time_close.valid }">
                <label for="time_close">Time close</label>
                <input type="text" id="time_close" class="form-control" name="time_close" [(ngModel)]="model.time_close" #time_close="ngModel"
                  required placeholder="Time close" value="model.time_close" />
                <div *ngIf="f.submitted && !time_close.valid" class="help-block">Time close is required </div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !wifi_password.valid }">
                <label for="wifi_password">Wifi password</label>
                <input type="text" id="wifi_password" class="form-control" name="wifi_password" [(ngModel)]="model.wifi_password" #wifi_password="ngModel"
                  required placeholder="Wifi password" value="model.wifi_password" />
                <div *ngIf="f.submitted && !wifi_password.valid" class="help-block">Time close is required </div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !latitude.valid }">
                <label for="latitude">Latitude</label>
                <input type="text" id="latitude" class="form-control" name="latitude" [(ngModel)]="model.latitude" #latitude="ngModel" required
                  placeholder="Latitude" value="model.latitude" />
                <div *ngIf="f.submitted && !latitude.valid" class="help-block">Latitude is required </div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !longitude.valid }">
                <label for="longitude">Longitude</label>
                <input type="text" id="longitude" class="form-control" name="longitude" [(ngModel)]="model.longitude" #longitude="ngModel"
                  required placeholder="Longitude" value="model.longitude" />
                <div *ngIf="f.submitted && !longitude.valid" class="help-block">Longitude is required </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-secondary" data-dismiss="modal">Close</a>
          <button type="submit" id="submit" class="btn btn-primary">Update Places</button>
        </div>
      </form>
    </div>
  </div>
</div>
