.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.dropdown-user:hover {
  cursor: pointer;
}

.table-user-information>tbody>tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information>tbody>tr:first-child {
  border-top: 0;
}

.table-user-information>tbody>tr>td {
  border-top: 0;
}

.toppad {
  margin-top: 20px;
}

.table input {
  border: 0;
  width: 100%
}

.invalid-feedback {
  display: block;
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
