<div class="container">
  <div class="row">
    <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
      <img width="300px" height="300px" alt="User Pic" src="https://foodsyapp.herokuapp.com/api/user/photo/{{model.id}}?token={{token}}"
        onerror="this.src='./assets/images/profile-icon-9.png'" class="img-circle img-responsive">
      <br>
      <p class=" text-info">Account create at: {{model.created_at}}</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
      <div class="panel panel-info">

        <div class="panel-heading">
          <h3 class="panel-title">Display name: {{model.display_name}}</h3>
        </div>
        <div class="panel-body">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>User name:</td>
                <td>{{model.username}}</td>
              </tr>
              <tr>
                <td>Display name:</td>
                <td>{{model.display_name}}</td>
              </tr>
              <tr>
                <td>Email: </td>
                <td><a href="mailto:{{model.email}}">{{model.email}}</a></td>
              </tr>
              <tr>
                <td>Phone: </td>
                <td>{{model.phone_number}}</td>
              </tr>
              <tr>
                <td>Address: </td>
                <td>{{model.address}}</td>
              </tr>
              <tr>
                <td>Role: </td>
                <td>{{model.role}}</td>
              </tr>
              <tr>
                <td>Gender: </td>
                <td *ngIf="model.gender == 'm'"> Nam</td>
                <td *ngIf="model.gender == 'f'">Nữ</td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="isNotAdmin">
            <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Update</button>
            <button data-toggle="modal" data-target="#registerOwner" class="btn btn-primary">Register owner</button>
          </div>
          <div *ngIf="isOwner">
            <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Update</button>
            <button class="btn btn-primary" [routerLink]="['/owner-places']">Create places</button>
          </div>
          <div *ngIf="isAdmin">
            <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Update</button>
            <button class="btn btn-primary" [routerLink]="['/admin']">Page Admin</button>
            <button class="btn btn-primary" [routerLink]="['/owner-register']">Owner Register</button>
          </div>
          <div class="panel-footer">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form name="form" (ngSubmit)=" update()" #f="ngForm" novalidate>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update user infomation</h5>
            <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body container">
            <div class="row">
              <div class="col-4">
                <img id="image-preview" width="100%" style="padding-bottom: 10px;" src="https://foodsyapp.herokuapp.com/api/user/photo/{{model.id}}?token={{token}}"
                  onerror="this.src='./assets/images/profile-icon-9.png'">
                <!-- image-preview-filename input [CUT FROM HERE]-->
                <div class="input-group image-preview">
                  <input type="text" class="form-control image-preview-filename" disabled="disabled">
                  <!-- don't give a name === doesn't send on POST/GET -->
                  <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span> Clear
                  </button>
                  <!-- image-preview-input -->
                  <div class="btn btn-default image-preview-input">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    <span class="image-preview-input-title">Browse</span>
                    <input type="file" accept="image/png, image/jpeg, image/gif" file-model="myFile" name="input-file-preview" />
                    <!-- rename it -->
                  </div>
                  </span>
                </div>
                <!-- /input-group image-preview [TO HERE]-->
              </div>
              <div class="col-8">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !display_name.valid }">
                  <label for="display_name">Display name</label>
                  <input type="text" id="display_name" class="form-control" name="display_name" [(ngModel)]="model.display_name" #display_name="ngModel"
                    placeholder="Display name" required/>
                  <div *ngIf="f.submitted && !display_name.valid" class="invalid-feedback">Display name is required</div>

                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                  <label for="email">Email</label>
                  <input type="email" id="email" required class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" placeholder="Email"
                  />
                  <div *ngIf="f.submitted && !email.valid" class="invalid-feedback">Email is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone_number.valid }">
                  <label for="phone_number">Phone</label>
                  <input type="text" id="phone_number" required class="form-control" name="phone_number" [(ngModel)]="model.phone_number" #phone_number="ngModel"
                    placeholder="Phone number " />
                  <div *ngIf="f.submitted && !phone_number.valid" class="invalid-feedback">Phone number is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
                  <label for="address">Address</label>
                  <input type="text" id="address" required class="form-control" name="address" [(ngModel)]="model.address" #address="ngModel"
                    placeholder="Address" />
                  <div *ngIf="f.submitted && !address.valid" class="invalid-feedback">Address is required</div>
                </div>
                <div class="form-group">
                  <label for="gender">Gender</label>
                  <select id="gender" class="custom-select form-control" name="gender" [(ngModel)]="model.gender" #gender="ngModel">
                <option selected value="m">Nam</option>
                <option value="f">Nữ</option>
              </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-secondary" data-dismiss="modal">Close</a>
            <button type="submit" id="submit" class="btn btn-primary">Update User</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal register Owner -->
  <div class="modal fade" id="registerOwner" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <form name="form" (ngSubmit)="f.form.valid && registerOwner()" #f="ngForm" novalidate>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Register Owner</h5>
            <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-4">
                <img id="image-preview" width="100%" style="padding-bottom: 10px;" src="https://foodsyapp.herokuapp.com/api/user/photo/{{model.id}}?token={{token}}"
                  onerror="this.src='./assets/images/profile-icon-9.png'">
                <!-- image-preview-filename input [CUT FROM HERE]-->
                <div class="input-group image-preview">
                  <input type="text" class="form-control image-preview-filename" disabled="disabled">
                  <!-- don't give a name === doesn't send on POST/GET -->
                  <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span> Clear
                  </button>
                  <!-- image-preview-input -->
                  <div class="btn btn-default image-preview-input">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    <span class="image-preview-input-title">Browse</span>
                    <input type="file" accept="image/png, image/jpeg, image/gif" file-model="myFile" name="input-file-preview" />
                    <!-- rename it -->
                  </div>
                  </span>
                </div>
                <!-- /input-group image-preview [TO HERE]-->
              </div>
              <div class="col-8">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !display_name.valid }">
                  <label for="display_name">Display name</label>
                  <input type="text" id="name" class="form-control" name="display_name" [(ngModel)]="regiter.display_name" #display_name="ngModel"
                    placeholder="Display name " required />
                  <div *ngIf="f.submitted && !display_name.valid" class="invalid-feedback">Display name is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
                  <label for="address">Address</label>
                  <input type="text" required id="address" class="form-control" name="address" [(ngModel)]="regiter.address" #address="ngModel" placeholder="Address"
                  />
                  <div *ngIf="f.submitted && !address.valid" class="invalid-feedback">Address is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone_number.valid }">
                  <label for="phone_number">Phone number</label>
                  <input type="text" required id="phone_number" class="form-control" name="phone_number" [(ngModel)]="regiter.phone_number" #phone_number="ngModel"
                    placeholder="Phone number" />
                  <div *ngIf="f.submitted && !phone_number.valid" class="invalid-feedback">Phone number is required</div>
                </div>
                <div class="form-group">
                  <label for="gender">Category</label>
                  <select id="gender" class="custom-select form-control" name="gender" [(ngModel)]="regiter.category_id" #gender="ngModel">
                <option  *ngFor="let category of categorys" value="{{category.id}}">{{category.name}}</option>
              </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-secondary" data-dismiss="modal">Close</a>
            <button type="submit" id="submit" class="btn btn-primary">Register Owner</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
