.card-text {
  display: inline-block;
  width: 80px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

@media (min-width: 992px) {
  .list-group {
    min-width: 200px;
    position: fixed;
  }
}

@media (min-width: 1200px) {
  .list-group {
    min-width: 250px;
    position: fixed;
  }
}
