
<div class="container">
  <div class="row">
    <div class="col-lg-3">

      <h1 class="my-4">Shop Name</h1>
      <div class="list-group" >
        <a href="#" class="list-group-item">Home</a>
        <a href="#eat" class="list-group-item">Eat</a>
        <a href="#drink" class="list-group-item">Drink</a>
        <a href="#entertain" class="list-group-item">Entertain</a>
      </div>

    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-9" data-spy="scroll" data-target="#spy">
      <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="./assets/images/panel_1.jpeg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="./assets/images/panel_2.jpeg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="./assets/images/panel_3.jpg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
      </div>
      <h2 class="display-2" style="margin: 20px;" id="eat">Eat?</h2>
      <div class="row" >
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let eat of eats">
          <div class="card h-100">
            <a href="#"><img class="card-img-top"  onError="this.src='./assets/images/error_404.png';" src="https://foodsyapp.herokuapp.com/api/place/photo/{{eat.id}}?token={{token}}" alt="Eat"></a>
            <div class="card-body">
              <h4 class="card-title"><a href="#">{{eat.display_name}}</a></h4>
              <p class="card-text" style="text-overflow: ellipsis;max-height: 150px;overflow: hidden;white-space: normal;">{{eat.description}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>
            </div>
          </div>
        </div>
      </div>
      <h2 class="display-2"style="margin: 20px;" id="drink">Drink?</h2>
      <div class="row" >
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let drink of drinks">
          <div class="card h-100">
            <a href="#"><img class="card-img-top"  onError="this.src='./assets/images/error_404.png';" src="https://foodsyapp.herokuapp.com/api/place/photo/{{drink.id}}?token={{token}}" alt="Drink"></a>
            <div class="card-body">
              <h4 class="card-title"><a href="#">{{drink.display_name}}</a></h4>
              <p class="card-text" style="text-overflow: ellipsis;max-height: 150px;overflow: hidden;white-space: normal;">{{drink.description}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>
            </div>
          </div>
        </div>
      </div>
       <h2 class="display-2"style="margin: 20px;" id="entertain">Entertain?</h2>
      <div class="row" >
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let entertain of entertains">
          <div class="card h-100">
            <a href="#"><img class="card-img-top"  onError="this.src='./assets/images/error_404.png';" src="https://foodsyapp.herokuapp.com/api/place/photo/{{entertain.id}}?token={{token}}" alt="Eat"></a>
            <div class="card-body">
              <h4 class="card-title"><a href="#">{{entertain.display_name}}</a></h4>
              <p class="card-text" style="text-overflow: ellipsis;max-height: 150px;overflow: hidden;white-space: normal;">{{entertain.description}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
  </div>
  <!-- /.row -->
</div>
