<div class="container-fluid">
  <div class="animated fadeIn" *ngIf="checkRole">
    <div class="row">
      <div class="center">
        <div class="col-lg-6" style="max-width: 100%">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-user-circle"></i> Owner Register
            </div>
            <div class="card-body" style="padding:0px">
              <table class="table table-bordered" style="font-size: 10px">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Display Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>About</th>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td>{{user.username}}</td>
                    <td>{{user.display_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone_number}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.role}}</td>
                    <td>
                      <span class="badge badge-warning">{{user.status}}</span>
                    </td>
                    <td><a class="btn btn-outline-success btn-sm" data-toggle="modal" (click)="acception(1,user.id)" >Approved</a><br></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row" *ngIf="dataError">
  <div class="col-md-12">
    <div class="error-template">
      <h1>
        Oops!</h1>
      <h2>
        Please register owner using page.</h2>
      <div class="error-details">
        Sorry, an error has occured, Requested page not found!
      </div>
      <div class="error-actions">
        <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>Take Me Home </a><a href="http://www.fb.com/nhan2768" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
      </div>
    </div>
  </div>
</div>

